// components.scss
.compose-form {
  .compose-form__modifiers {
    .compose-form__upload {
      &-description {
        input {
          &::placeholder {
            opacity: 1;
          }
        }
      }
    }
  }
}

.autosuggest-textarea__textarea,
.spoiler-input__input {
  background: $simple-background-color !important;
  color: $black !important;
}

.compose-form__modifiers {
  background: $simple-background-color !important;
  color: $black !important;
}

.reply-indicator__content,
.reply-indicator__display-name {
  color: $white;
}

.rich-formatting a,
.rich-formatting p a,
.rich-formatting li a,
.landing-page__short-description p a,
.status__content a,
.reply-indicator__content a {
  color: lighten($ui-highlight-color, 12%);
  text-decoration: underline;

  &.mention {
    text-decoration: none;
  }

  &.mention span {
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &.status__content__spoiler-link {
    color: $secondary-text-color;
    text-decoration: none;
  }
}

.status__content__read-more-button {
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.status__relative-time {
  color: $purpleicon;
}

.getting-started__footer a {
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.nothing-here {
  color: $darker-text-color;
}

.public-layout .public-account-header__tabs__tabs .counter.active::after {
  border-bottom: 4px solid $ui-highlight-color;
}

// FAIRY FLOSS CHANGES

html {
  scrollbar-color: $purple3 rgba($purple3, 0.25);
}

::-webkit-scrollbar-thumb {
  background: $purplescrollbar;
  border: 0 #f8f8f2;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: $purplescrollbar;
  border: 0;
}

::-webkit-scrollbar-track:hover {
  background: darken($purple2, 6%);
}

.loading-bar {
  background-color: $mint;
}

// text
.status__display-name,
.column-header,
.column-link,
.navigation-bar strong {
  color: $purple4;
}

.ui,
.notification__filter-bar button,
.account__section-headline button,
body,
body.admin {
  background: $purple1;
}

.drawer__header {
  background: $purple3;

  a {
    &:hover,
    &:focus {
      background: darken($purple3, 8%);
    }
  }
}

.search__input {
  &:hover,
  &:focus {
    background: $purple2;
    color: $purple4;
  }

  background: $purple2;
  color: $purple4;
}

::placeholder {
  color: $purple4;
}

.search-popout,
.search-popout h4 {
  color: $purple1;
  background-color: $purple4;
}

.drawer__inner,
.drawer__inner__mastodon {
  background: $purple3;
}

.compose-form .compose-form__highlightable {
  background: lighten($purple4, 8%);
}

.compose-form__poll__select__value {
  background: lighten($purple4, 8%);
}

.compose-form__poll__select__label {
  color: $black;
}

.text-icon-button.active {
  color: darken($pink, 12%);
}

.column-header,
.column-header__button,
.column-header__back-button {
  background: $purple5;
}

.column-header__back-button,
.column-header__button,
.column-header__button.active,
.column-header__button.active {
  background: $purple5;

  &:hover,
  &:active,
  &:focus {
    color: $ui-highlight-color;
    background: lighten($purple5, 4%);
  }
}

.notification__filter-bar button.active::after,
.notification__filter-bar a.active::after,
.account__section-headline button.active::after,
.account__section-headline a.active::after {
  border-color: transparent transparent $purple2;
}

.column > .scrollable {
  background: $purple2;
}

.load-more:hover {
  background: darken($purple2, 4%);
}

.empty-column-indicator,
.error-column {
  background: $purple2;
}

.column-link__badge,
.column-subheading {
  background: $purple2;
}

// link previews

.status-card {
  background: $purple5;

  &:hover,
  &:focus {
    background: darken($purple5, 4%);
  }
}

.status-card.compact {
  border-color: darken($purple5, 8%);
  background: $purple5;
}

.status-card__image {
  background: $purple3;
}

.notification__filter-bar button.active,
.notification__filter-bar a.active,
.account__section-headline button.active,
.account__section-headline a.active,
.column-header > .column-header__back-button {
  color: $mint;
}

.react-toggle--checked .react-toggle-track,
.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background: $pink;
}

.react-toggle-track,
.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background: $purple2;
}

.column-header__collapsible-inner,
.column-header__button.active,
.column-header__button.active:hover,
.column-header__button.active:focus {
  background: $purple3;
  color: $purpleicon;
}

.column-inline-form,
.column-back-button {
  background: $purplescrollbar;
}

.flex-spacer,
.getting-started,
.getting-started__wrapper {
  background: $purple2;
}

.status:not(.status--is-quote) {
  border-bottom: 1px solid lighten($purple2, 8%);
}

.status.status-direct {
  background: $purple1;
  border-right: 1px solid $purple2;
  border-left: 1px solid $purple2;
}

.detailed-status,
.detailed-status__action-bar {
  background: $purplescrollbar;
}

.detailed-status__action-bar {
  border-top: 1px solid lighten($purple3, 8%);
  border-bottom: 1px solid lighten($purple3, 8%);
}

.detailed-status__meta {
  color: $purple4;
}

.focusable:focus {
  background: $purplescrollbar;
}

.focusable {
  &:focus {
    outline: 0;
    background: $purplescrollbar;

    .detailed-status,
    .detailed-status__action-bar {
      background: lighten($purplescrollbar, 2%);
    }
  }
}

.character-counter {
  color: $classic-lighter-text-color;
  font-weight: bold;
}

.dropdown-button {
  color: $classic-lighter-text-color !important;
  border: 1px solid $classic-lighter-text-color;

  &.active {
    color: darken($pink, 8%) !important;
    background-color: lighten($purple4, 8%);
  }
}

.icon-button {
  color: $purpleicon !important;
}

.compose-form__footer .icon-button {
  color: $classic-lighter-text-color !important;
}

.icon-button.active {
  color: darken($pink, 8%) !important;
  background-color: lighten($purple4, 8%) !important;
}

.notification__favourite-icon-wrapper .star-icon,
.star-icon.active,
a.mention.hashtag {
  color: $lemon;
}

.reply-indicator__content a,
.status__content a {
  color: $mint;
}

.reply-indicator {
  background: $purplescrollbar;
}

a.mention,
.notification-group__icon .icon {
  color: $pink;
}

.poll__link {
  color: $purple4;
}

.poll__chart {
  color: lighten($coral, 4%);
}

.poll__chart.leading {
  color: $coral;
}

.emoji-mart-search input,
.language-dropdown__dropdown .emoji-mart-search input,
.poll__option input[type='text'] {
  background: $white;
  color: $black;
}

.emoji-mart-bar:first-child {
  background: $purple4;
}

.emoji-mart-anchor-selected {
  color: $purple2;

  &:hover,
  &:focus {
    color: $purple1;
  }
}

.emoji-mart-anchor-bar {
  background: $purple1;
}

// profile in deck view

.account__header__bar .avatar .account__avatar {
  border-color: $purple1;
}

.account__header__image {
  background: $purple1;
}

.notification__filter-bar,
.account__section-headline {
  background: $purple1;
}

.button.logo-button.button--destructive:active,
.button.logo-button.button--destructive:focus,
.button.logo-button.button--destructive:hover {
  background: $pink;
}

// public profiles

.public-layout .header {
  background: $purple3;
}

.public-layout .header .brand:active,
.public-layout .header .brand:focus,
.public-layout .header .brand:hover {
  background: darken($purple3, 4%);
}

.public-layout .public-account-header__bar .avatar img {
  background: $purple2;
  border: 4px solid $purple2;
}

.public-layout .public-account-header__image {
  background: $ui-base-color;
}

.public-layout .public-account-header__image .originalheader svg,
.originalmascotimg svg {
  fill: $ui-primary-color;
}

.public-layout .public-account-header__image .originalheader h1 a.brand {
  color: $ui-primary-color;
}

.public-layout .header .nav-button {
  background: darken($purple3, 4%);

  &:hover,
  &:focus {
    background: darken($purple3, 8%);
  }
}

.public-layout .public-account-header__bar::before {
  background: $purplescrollbar;
}

.public-layout .public-account-header__tabs__tabs .counter.active::after {
  border-bottom: 4px solid $lemon;
}

.public-layout .public-account-bio {
  background: $purple3;
}

.hero-widget__text {
  background: $purple2;
}

.activity-stream .entry {
  background: $purple2;
}

.simple_form .hint a {
  color: $mint;
}

.oauth-prompt strong,
.follow-prompt strong {
  color: $purple4;
}

.simple_form input[type='text']:active,
.simple_form input[type='text']:focus,
.simple_form input[type='number']:active,
.simple_form input[type='number']:focus,
.simple_form input[type='email']:active,
.simple_form input[type='email']:focus,
.simple_form input[type='password']:active,
.simple_form input[type='password']:focus,
.simple_form textarea:active,
.simple_form textarea:focus {
  border-color: $mint;
}

.nothing-here {
  background: $purple2;
}

// admin zone

.admin-wrapper .content h2 {
  color: $purple4;
}

.admin-wrapper .sidebar ul .simple-navigation-active-leaf a {
  background: $purpleborder;

  &:hover,
  &:focus {
    background: lighten($purpleborder, 8%);
  }
}

.admin-wrapper .sidebar ul ul {
  background: $purple1;
}

.admin-wrapper .sidebar ul a:hover,
.admin-wrapper .sidebar ul a:focus {
  background: $purpleborder;
}

.admin-wrapper .sidebar__toggle__logo a {
  color: $lighter-text-color !important;
}

// Mobile layout
@media screen and (max-width: $no-gap-breakpoint - 285px - 1px) {
  .admin-wrapper .sidebar .logo {
    display: none;
  }
}

.admin-wrapper .content .muted-hint a {
  color: $mint;
}

.card__bar {
  background: $purplescrollbar;
}

.simple_form input[type='text'],
.simple_form input[type='number'],
.simple_form input[type='email'],
.simple_form input[type='password'],
.simple_form textarea {
  background: darken($purple1, 6%);
}

.simple_form select {
  background: darken($purple1, 6%)
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='%23c2ffdf'/></svg>")
    no-repeat right 8px center/auto 16px;
}

.table th,
.table td {
  background: darken($purple2, 6%);
}

.table > thead > tr > th {
  color: $lemon;
}

.table > tbody > tr:nth-child(odd) > td,
.table > tbody > tr:nth-child(odd) > th {
  background: $purple3;
}

// directory

.accounts-table tbody td {
  background: $purple3;
}

.page-header {
  background: $purpleborder;

  h1 {
    color: $purple4;
  }
}

.box-widget,
.contact-widget,
.landing-page__information.contact-widget {
  background: $purple2;
}

.notice-widget a {
  color: $mint;
}

.directory__tag a {
  background: $purple2;

  &:hover,
  &:focus {
    background: lighten($purple2, 4%);
  }
}

// about/more

.landing-page__call-to-action {
  background: $purple3;
}

.rich-formatting h3,
.rich-formatting h4,
.rich-formatting h2,
.rich-formatting h1 {
  color: lighten($purpleicon, 8%);
}

.landing-page__information strong {
  color: lighten($purpleicon, 10%);
}

// about

.simple_form .input.boolean label a {
  color: $mint;
}

::placeholder {
  color: $purpleicon;
}

.landing .hero-widget__footer {
  background: $purple3;
}

.status.status-direct:not(.read),
.account {
  border-bottom: 1px solid lighten($purple2, 8%);
}

.drawer__inner__mastodon svg#hometownlogo {
  fill: $ui-primary-color;
}

.audio-player,
.audio-player .video-player__controls {
  background: $ui-base-color;
}

.video-player__buttons button {
  color: $ui-primary-color;
}

.tabs-bar__wrapper {
  background: $purple1;
}

.navigation-panel,
.compose-panel {
  hr {
    border-top: 1px solid $purple3;
  }
}

#navigation-panel__publish {
  i {
    color: $primary-text-color;
  }
}

#navigation-panel__publish.active {
  i {
    background-color: lighten($ui-highlight-color, 10%);
    color: $lighter-text-color;
  }
}

.dropdown-menu__container__header {
  color: $lighter-text-color;
  font-weight: 900;
}

.dropdown-menu__item {
  color: $black;

  a,
  button {
    &:focus,
    &:hover,
    &:active {
      &:not(:disabled, [aria-disabled='true']) {
        color: $white;
      }
    }
  }
}

.privacy-dropdown__option,
.visibility-dropdown__option {
  &:focus,
  &.active {
    background: $coral;
  }

  background: $white;
  color: $black;

  .privacy-dropdown__option__content,
  .privacy-dropdown__option__content strong,
  .privacy-dropdown__option__additional,
  .visibility-dropdown__option__content,
  .visibility-dropdown__option__content strong,
  .visibility-dropdown__option__additional {
    color: $purple1;
  }

  &:hover,
  &:active {
    background: $coral;
    color: var(--dropdown-text-color);

    .privacy-dropdown__option__content,
    .privacy-dropdown__option__content strong,
    .privacy-dropdown__option__additional,
    .visibility-dropdown__option__content,
    .visibility-dropdown__option__content strong,
    .visibility-dropdown__option__additional {
      color: var(--dropdown-text-color);
    }
  }

  // Make sure adjacent hover/active states don't have a meeting radius.
  &:hover + &:is(:focus, .active),
  &:is(:focus, .active) + &:hover,
  &:is(:focus, .active) + &:is(:focus, .active) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.dialog-modal__header,
.dialog-modal__content__description {
  color: darken($classic-lighter-text-color, 10%);
}

.visibility-dropdown > label {
  color: darken($classic-lighter-text-color, 10%);
}

.visibility-dropdown__button {
  color: darken($classic-lighter-text-color, 10%);
  background-color: $white;
}

.language-dropdown__dropdown__results__item {
  color: $classic-lighter-text-color;
}

.language-dropdown__dropdown__results__item:focus,
.language-dropdown__dropdown__results__item.active,
.language-dropdown__dropdown__results__item:focus
  .language-dropdown__dropdown__results__item__common-name,
.language-dropdown__dropdown__results__item.active
  .language-dropdown__dropdown__results__item__common-name {
  background-color: $coral;
}
