// Dependent colors
$black: #000;
$white: #fff;
$purple: #c8c4dd;
$blue: #c8dbee;
$green: #dff6eb;
$pink: #ffcbcb;
$blueberry: #5971ad;
$cream: #fffdef;
$bilberry: #ad599c;

$classic-base-color: #282c37;
$classic-primary-color: #9baec8;
$classic-secondary-color: $green;
$classic-highlight-color: #2b90d9;

// Differences
$success-green: #3c754d;

$base-overlay-background: $white !default;
$valid-value-color: $success-green !default;

$ui-base-color: $classic-secondary-color !default;
$ui-base-lighter-color: $cream;
$ui-primary-color: #9bcbed;
$ui-secondary-color: $classic-base-color !default;
$ui-highlight-color: $blueberry;
$highlight-text-color: lighten($ui-highlight-color, 8%) !default;
$ui-button-secondary-color: $bilberry;
$ui-button-secondary-border-color: $bilberry;
$ui-button-secondary-focus-background-color: $pink;

$primary-text-color: $black !default;
$darker-text-color: $classic-base-color !default;
$dark-text-color: #444b5d;
$action-button-color: #606984;

$inverted-text-color: $black !default;
$lighter-text-color: $classic-base-color !default;
$light-text-color: #444b5d;

$ui-button-secondary-focus-color: $light-text-color;

// Newly added colors
$account-background-color: $white !default;

// Ensure we override base variables in the right places
// TODO: Fix the duplication here; this is a kludge because of the
//       hastily-reworked import => use migration when prepping the
//       Mastodon 4.5 merge.
@use '../mastodon/variables' with (
  $base-overlay-background: $base-overlay-background,
  $valid-value-color: $success-green,

  $ui-base-color: $ui-base-color,
  $ui-base-lighter-color: $ui-base-lighter-color,
  $ui-primary-color: $ui-primary-color,
  $ui-secondary-color: $classic-base-color,
  $ui-highlight-color: $ui-highlight-color,
  $highlight-text-color: $highlight-text-color,
  $ui-button-secondary-color: $ui-button-secondary-color,
  $ui-button-secondary-border-color: $ui-button-secondary-border-color,

  $primary-text-color: $black,
  $darker-text-color: $darker-text-color,
  $dark-text-color: $dark-text-color,
  $action-button-color: $action-button-color,

  $inverted-text-color: $inverted-text-color,
  $lighter-text-color: $lighter-text-color,
  $light-text-color: $light-text-color,

  $ui-button-secondary-focus-color: $ui-button-secondary-focus-color
);

// Invert darkened and lightened colors
@function darken($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) + $amount);
}

@function lighten($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) - $amount);
}
